
<%- include("partials/header");  -%>
  <h1>Home</h1>

  <p><%= homePageContent %></p>

  <!-- <p><%= allPosts.length %></p> -->
<%  allPosts.forEach(function(itemPost){   %>
    <h2><%= itemPost.postTitle %></h2>
    <p>
    <%= itemPost.postBody.substring(0, 100) + "..." %>

    <a href="/posts/<%= itemPost.id %>">Read More</a>
  </p>
<%  });   %>

<%- include("partials/footer");  -%>
